<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhazul Islam | IT Professional  </title>
    <meta name="robots" content="index, follow">
    <link rel="icon" href="../assets/img/Minhazul-Islam.ico">
    <link rel="stylesheet" href="./../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/ionicons.min.css">
    <link rel="stylesheet" href="./../assets/css/style.css">
    <link rel="stylesheet" href="./../assets/css/nav.css">
    <link rel="stylesheet" href="./../assets/css/about.css">
    <link rel="stylesheet" href="../assets/css/protfolio.css">

</head>

<body>
    <header class="cus-navbar">
        <div class="logonav">
            <a href="../index.html"><img src="../assets/img/Minhazul-Islam.png" alt=""></a>

        </div>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul class="nav-text">
                            <li><a type="button" href="../index.html">Home</a></li>
                            <li><a type="button" href="../views/about.html">About</a></li>
                            <!-- <li><a type="button" href="../views/services.html">Services</a></li> -->
                            <li><a type="button" href="../views/contact.html">Contact</a></li>
                            <!-- <li><a type="button" href="../views/Blog.html">Blog</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section id="about-first">
            <div class="container">
                <article>
                    <div class="about-overlay">
                    </div>
                </article>
                <article>
                    <div class="row">
                        <div class="col-lg-7 col-md-12 col-12">
                            <h1 class="about-text">  I have extensive experience in various areas of IT. 
                                My skills include data analysis, digital forensics, cybersecurity, and software development. 
                                I am dedicated to achieving excellence and fostering innovation in all my work.






                            </h1>
                        </div>
                        <div class="col-lg-5 col-md-12 col-12">
                            <img class="about-image" src="../assets/img/Minhazul_Islam_IT_Professional2.jpg" alt="" srcset="">

                        </div>
                    </div>
                </article>
            </div>
        </section>

        <!-- CV -->
        <section class="sec-resume">
            <div class="container">
                <div class="row">
                    <!-- <div class="resume"> -->
                    <!-- <div class="func"> -->
                   
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="curricular">
                            <h3><i class="fa fa-star"></i>Certifications</h3>
                            <ul>
                                <li><span>
                                    Python for Data Science, AI & Development<br>IBM</span><small>Issued Jun 2024</small><small>Credential ID J6WE49Z4BW55</small>
                                </li>
                                <li><span>
                                    Foundations: Data, Data, Everywhere
                                    <br>Google</span>
                                    <small>Issued May 2024</small>
                                    <small>Credential ID Y2HZWQSXYPST</small>
                                </li>
                                <li><span>
                                    Cyber Threat Intelligence and Incident Response Bootcamp
                                    <br>ThreatDefence, University of Technology Sydney</span>
                                </li>
                                <li><span>
                                    Data analysis bootcamp
                                    <br>Analyst Builder</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="edu">
                            <h3><i class="fa fa-graduation-cap"></i>Education</h3>
                            <ul>
                                <li><span>Master of Information Technology (Extension)<br>Cyber Security and Data Analysis</span><small>University of Technology Sydney</small><small>Feb. 2023 - Present
                                    </small>
                            </li>
                                <li><span>Bachelor of Science<br>Computer Science and Engineering</span><small>American
                                        International University-Bangladesh (AIUB)</small><small>Jan. 2016 - Apr.
                                        2020</small>
                                </li>
                            </ul>
                        </div>
                        <div class="work">
                            <h3><i class="fa fa-briefcase"></i>Experience</h3>
                            <ul>
                                    <li><span>Jr Software Engineer</span><small>LinkTech IT</small><small>Apr 2020 - Nov
                                            2022</small>
                                    </li>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>
        </section>
        <!-- CV end -->
        <!-- skillnTool section -->
        <section class="skilltool my-1">
            <article class="container">
                <article>
                    <div class="skilldotted">
                        <h1>Skills</h1>
                        <h3><i class="mt-1 fa fa-html5 mr-1"></i>Development</h3>
                        <div class="skill mt-1">
                            <div class="row">
                                <div class="offset-lg-3 col-lg-3 col-md-4 col-4">
                                    <ul class="mt-1">
                                        <li><span>Front-end Frameworks</span>
                                        </li>
                                    </ul>
                                    <ul class="mt-1">
                                        <li><span>Bootstrap</span>
                                        </li>
                                    </ul>
                                    <ul class="mt-1">
                                        <li><span>Responsive web</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-4 col-4">
                                    <ul class="mt-1">
                                        <li><span>SQL</span>
                                        </li>
                                    </ul>
                                    <ul class="mt-1">
                                        <li><span>Oracle Database</span>
                                        </li>
                                    </ul>
                                    <ul class="mt-1">
                                        <li><span>Machine Learning<br><small>Supervised learning</small>
                                            <br><small> Unsupervised learning</small>
                                            <br><small>  Model evaluation and selection
                                        </small>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-4 col-4">
                                    <ul class="mt-1">
                                        <li><span>Php</span>
                                        </li>
                                    </ul>
                                    <ul class="mt-1">
                                        <li><span>python</span>
                                        </li>
                                    </ul>
                                    <ul class="mt-1">
                                        <li><span>Data Visualization

                                        </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <article>
                        <article class="mt-1">
                            <div class="tooldotted">
                                <h1>Tools</h1>
                                <h3><i class="mt-1 fa fa-html5 mr-1"></i>Development</h3>
                                <div class="tool mt-1">
                                    <div class="row">
                                        <div class="offset-lg-3 col-lg-3 col-md-4 col-4">
                                            <ul class="mt-1">
                                                <li><span>JavaScript</span>
                                                </li>
                                            </ul>
                                            <ul class="mt-1">
                                                <li><span>vanilla js</span>
                                                </li>
                                            </ul>
                                            <!-- <ul class="mt-1">
                                                <li><span>JavaScript</span>
                                                </li>
                                            </ul> -->
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-4">
                                            <ul class="mt-1">
                                                <li><span>HTML</span>
                                                </li>
                                            </ul>
                                            
                                            <ul class="mt-1">
                                                <li><span>Version Control and Collaboration</span>
                                                    <br><small>Git</small>
                                                    <br><small>Jupyter Notebooks</small>
                                                    <br><small>Google Colab</small>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-4">
                                            <ul class="mt-1">
                                                <li><span>CSS</span><br><small>SASS</small>
                                                </li>
                                            </ul>
                                            <ul class="mt-1">
                                                <li><span>Data Visualization Tools<br><small>Tableau, Power BI
                                                </small>

                                                </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </article>

        </section>
    </main>
    <!-- Footer section
================================================== -->
<footer class="mt-5 top-footer">
    <div class="container justify-content-around">
        <div class="row">
            <div class="col-md-8 col-sm-8 mb-md-8">
                <ul class="social-icon mt-5">
                    <li><a href="https://www.linkedin.com/in/dminhazul/" target='_blank' class="fa fa-linkedin"></a></li>
                    <li><a href="https://github.com/dminhazul" target='_blank' class="fa fa-github"></a></li> 
                    <li><a href="https://www.instagram.com/meetminhaz/" target='_blank' class="fa fa-instagram"></a></li>
                    <li><a href="tel:061424879972" class="fa fa-phone"></a></li>
                    <li><a href='https://wa.me/061424879972' target='_blank' class= "fa fa-whatsapp"></a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 mb-4 mb-md-0 mt-4">
                <ul class="link-footer">
                  <li>
                    <h3>Quick Links</h3>
                  </li>
                  <li><a  href="../index.html">Home</a></li>
                  <li><a  href="../views/about.html">About</a></li>
                  <li><a  href="../views/contact.html">Contact</a></li>
                </ul>
              </div>
            </div>

        </div>
    </div>
    <div class="footer-bottom">
        <h3 style="color: #F4F5DB;"> Copyright 2020. - build by Minhazul Islam </h3>
      </div>
</footer>
    <script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="./../assets/js/popper.min.js"></script>
    <script src="./../assets/js/bootstrap.min.js"></script>

</body>

</html>