<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Minhazul Islam | IT Professional</title>
    <meta name="robots" content="index, follow">
    <link rel="icon" href="../assets/img/Minhazul-Islam.ico">
    <link rel="stylesheet" href="./../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="../assets/css/ionicons.min.css"> -->
    <link rel="stylesheet" href="./../assets/css/nav.css">
    <link rel="stylesheet" href="./../assets/css/style.css">
</head>

<body>
    <header class="cus-navbar">
        <div class="logonav">
            <a href="../index.html"><img src="../assets/img/Minhazul-Islam.png" alt=""></a>

        </div>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul class="nav-text">
                            <li><a type="button" href="../index.html">Home</a></li>
                            <li><a type="button" href="../views/about.html">About</a></li>
                            <!-- <li><a type="button" href="../views/services.html">Services</a></li> -->
                            <li><a type="button" href="../views/contact.html">Contact</a></li>
                            <!-- <li><a type="button" href="../views/Blog.html">Blog</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="sec-resume">
          
        </section>

    </main>
     <!-- Footer section
================================================== -->
<footer class="mt-5 top-footer">
    <div class="container justify-content-around">
        <div class="row">

            <div class="col-md-8 col-sm-8 mb-md-8">
                <ul class="social-icon mt-5">
                    <li><a href="https://www.linkedin.com/in/dminhazul/" target='_blank' class="fa fa-linkedin"></a></li>
                    <li><a href="https://github.com/dminhazul" target='_blank' class="fa fa-github"></a></li> 
                    <li><a href="https://www.instagram.com/meetminhaz/" target='_blank' class="fa fa-instagram"></a></li>
                    <li><a href="tel:061424879972" class="fa fa-phone"></a></li>
                    <li><a href='https://wa.me/061424879972' target='_blank' class= "fa fa-whatsapp"></a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 mb-4 mb-md-0 mt-4">
                <ul class="link-footer">
                  <li>
                    <h3>Quick Links</h3>
                  </li>
                  <li><a  href="../index.html">Home</a></li>
                  <li><a  href="../views/about.html">About</a></li>
                  <li><a  href="../views/contact.html">Contact</a></li>
                </ul>
              </div>
            </div>

        </div>
    </div>
    <div class="footer-bottom">
        <h3 style="color: #F4F5DB;"> Copyright 2020. - build by Minhazul Islam </h3>
      </div>
</footer>
    <script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="./../assets/js/popper.min.js"></script>
    <script src="./../assets/js/bootstrap.min.js"></script>
    <!-- <script src="../assets/js/protfolio.js"></script> -->
</body>

</html>