<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhazul Islam | IT Professional</title>
    <meta name="robots" content="index, follow">
    <link rel="icon" href="../assets/img/Minhazul-Islam.ico">
    <link rel="stylesheet" href="./../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/ionicons.min.css">
    <link rel="stylesheet" href="./../assets/css/style.css">
    <link rel="stylesheet" href="./../assets/css/contact.css">
    <link rel="stylesheet" href="./../assets/css/nav.css">



</head>

<body>
    <header class="cus-navbar">
        <div class="logonav">
            <a href="../index.html"><img src="../assets/img/Minhazul-Islam.png" alt=""></a>

        </div>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul class="nav-text">
                            <li><a type="button" href="../index.html">Home</a></li>
                            <li><a type="button" href="../views/about.html">About</a></li>
                            <!-- <li><a type="button" href="../views/services.html">Services</a></li> -->
                            <li><a type="button" href="../views/contact.html">Contact</a></li>
                            <!-- <li><a type="button" href="../views/Blog.html">Blog</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="background">
            <div class="container">
                <div class="screen">
                    <div class="screen-header">
                        <div class="screen-header-left">
                            <div class="screen-header-button close"></div>
                            <div class="screen-header-button maximize"></div>
                            <div class="screen-header-button minimize"></div>
                        </div>
                        <div class="screen-header-right">
                            <div class="screen-header-ellipsis"></div>
                            <div class="screen-header-ellipsis"></div>
                            <div class="screen-header-ellipsis"></div>
                        </div>
                    </div>
                    <div class="screen-body">
                        <div class="screen-body-item left">
                            <div class="app-title">
                                <span>CONTACT</span>
                                <span>Me</span>
                            </div>
                            <div class="app-contact social-icon">
                                <li><a href="tel:061424879972" class="fa fa-phone"></a></li>
                                <li><a href='https://wa.me/061424879972' target='_blank' class= "fa fa-whatsapp"></a></li>

                            </div>
                            <!-- <div>
                                <ul class="social-icon">
                                    <li><a href="#" class="fa fa-gmail"></a></li>
                                </ul>
                            </div> -->
                        </div>
                        <form class="contact-form" action="../method/contactform.php" method="POST">
                            <div class="screen-body-item">
                                <div class="app-form">
                                    <div class="app-form-group">
                                        <input type="text" name="name" class="app-form-control" placeholder="FULL NAME">
                                    </div>
                                    <div class="app-form-group">
                                        <input type="text" name="mail" class="app-form-control" placeholder="EMAIL">
                                    </div>
                                    <div class="app-form-group">
                                        <input type="text" name="subject" class="app-form-control" placeholder="SUBJECT">
                                    </div>
                                    <div class="app-form-group">
                                        <input type="text" name="message" class="app-form-control" placeholder="MESSAGE">
                                    </div>
                                    <div class="app-form-group buttons">
                                        <button type="button" class="cancel app-form-button">CANCEL</button>
                                        <button name="submit" type="submit" class="submit app-form-button">SEND</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
       <!-- Footer section
================================================== -->
<footer class="mt-5 top-footer">
    <div class="container justify-content-around">
        <div class="row">

            <div class="col-md-8 col-sm-8 mb-md-8">
                <ul class="social-icon mt-5">
                    <li><a href="https://www.linkedin.com/in/dminhazul/" target='_blank' class="fa fa-linkedin"></a></li>
                    <li><a href="https://github.com/dminhazul" target='_blank' class="fa fa-github"></a></li> 
                    <li><a href="https://www.instagram.com/meetminhaz/" target='_blank' class="fa fa-instagram"></a></li>
                    <li><a href="tel:061424879972" class="fa fa-phone"></a></li>
                    <li><a href='https://wa.me/061424879972' target='_blank' class= "fa fa-whatsapp"></a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 mb-4 mb-md-0 mt-4">
                <ul class="link-footer">
                  <li>
                    <h3>Quick Links</h3>
                  </li>
                  <li><a  href="../index.html">Home</a></li>
                  <li><a  href="../views/about.html">About</a></li>
                  <li><a  href="../views/contact.html">Contact</a></li>
                </ul>
              </div>
            </div>

        </div>
    </div>
    <div class="footer-bottom">
        <h3 style="color: #F4F5DB;"> Copyright 2020. - build by Minhazul Islam </h3>
      </div>
</footer>
        <script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
        <script src="./../assets/js/popper.min.js"></script>
        <script src="./../assets/js/bootstrap.min.js"></script>

</body>

</html>